@page
@model IndexModel
@{
    ViewData["Title"] = "Staff Portal";
}

<div class="text-center">
    <h1 class="display-4">Staff Portal</h1>
</div>

@* searchbar that can search by resident and unit and redirects to search results page *@
<div class="col-md-9 col-lg-6 col-xl-5 mx-auto">
    <table>
        <tr>
            <td>
                <div class="form-outline mb-4">
                    <a href="/StaffPortal/ProcessPackage"><input  type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Process New Package"></a>
                </div>
            </td>
            <td>
                <div class="form-outline mb-4">
                    <a href="/StaffPortal/ArchivedPackages"><input  type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="View Package Archive"></a>
                </div>
            </td>
        </tr>
    </table>

    <form method="get">
        <div class="input-group mb-3">
            <input class="form-control" name="searchTerm" placeholder="Search by Resident or Unit" aria-label="Search" aria-describedby="basic-addon2" value="@Model.SearchTerm">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div>
    <h3>Packages Awaiting Pickup</h3>

    @* checks if there are any records in the table and shows a message if there are none *@
    @if (Model.PackagesAwaitingPickup == null || !Model.PackagesAwaitingPickup.Any())
    {
        <p>There are no packages awaiting pick-up.</p>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Resident</th>
                    <th scope="col">Unit Number</th>
                    <th scope="col">Postal Service Agency</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Tracking Code</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @* iterates through all the packages awaiting pick up and displays the info on a table *@
                @foreach(var p in Model.PackagesAwaitingPickup)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => p.Resident.Name)</td>
                        <td>@Html.DisplayFor(modelItem => p.Resident.UnitNumber)</td>
                        <td>@Html.DisplayFor(modelItem => p.PostalServiceAgency)</td>
                        <td>@Html.DisplayFor(modelItem => p.InProcessDate)</td>
                        <td>@Html.DisplayFor(modelItem => p.TrackingCode)</td>
                        <td><a asp-page="./Package" asp-route-id="@p.PackageID">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    @* checks if there are any records in the table and omits the table if there are none *@
    @if (Model.UnkownPackages == null || !Model.UnkownPackages.Any())
    {

    }
    else
    {
        <hr>

        <h3>Unknown Packages/Awaiting Return to Sender</h3>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Postal Service Agency</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Tracking Code</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @* iterates through all the unknown packages that need to be returned to sender and displays the info on a table *@
                @foreach(var p in Model.UnkownPackages)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => p.PostalServiceAgency)</td>
                        <td>@Html.DisplayFor(modelItem => p.InProcessDate)</td>
                        <td>@Html.DisplayFor(modelItem => p.TrackingCode)</td>
                        <td><a asp-page="./Package" asp-route-id="@p.PackageID">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>