@page
@model ProcessPackageModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BuffMail Management</h1>
</div>

<div>
    <h3>Packages Awaiting Pickup</h3>

    @* checks if there are any records in the table and shows a message if there are none *@
    @if (Model.FulfilledPackages == null || !Model.FulfilledPackages.Any())
    {
        <p>There are no packages awaiting pick-up.</p>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Resident</th>
                    <th scope="col">Unit Number</th>
                    <th scope="col">Postal Service Agency</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Tracking Code</th>
                </tr>
            </thead>
            <tbody>
                @* iterates through all the packages awaiting pick up and displays the info on a table *@
                @foreach(var p in Model.FulfilledPackages)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => p.Resident.Name)</td>
                        <td>@Html.DisplayFor(modelItem => p.Resident.UnitNumber)</td>
                        <td>@Html.DisplayFor(modelItem => p.PostalServiceAgency)</td>
                        <td>@Html.DisplayFor(modelItem => p.InProcessDate)</td>
                        <td>@Html.DisplayFor(modelItem => p.TrackingCode)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<hr>

<div>
    <h3>Unknown Packages/Awaiting Return to Sender</h3>

    @* checks if there are any records in the table and omits the table if there are none *@
    @if (Model.ReturnedPackages == null || !Model.ReturnedPackages.Any())
    {
        <p>There are no packages awaiting pick-up.</p>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Postal Service Agency</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Tracking Code</th>
                </tr>
            </thead>
            <tbody>
                @* iterates through all the unknown packages that need to be returned to sender and displays the info on a table *@
                @foreach(var p in Model.ReturnedPackages)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => p.PostalServiceAgency)</td>
                        <td>@Html.DisplayFor(modelItem => p.InProcessDate)</td>
                        <td>@Html.DisplayFor(modelItem => p.TrackingCode)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>